#hero { display: flex; flex-direction: column; justify-content: flex-start; align-items: center; padding: 9vh; text-align: center; }
#hero h1 { margin: 0; margin-bottom: 20px; font-size: 10vh; line-height: 1; }
#hero .tagline { width: 450px; max-width: 100%; margin-bottom: 3vh; font-size: 2.25vh; white-space: pre; }
#hero .image-preview { height: 55vh; position: relative; }
#hero .image-preview::after { content: ' '; position: absolute; left: 0; right: 0; bottom: 0; height: 50%; background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .75), rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1)); }
#hero .image-preview img { width: auto; max-width: none; height: 100%; }
#hero .hero-button { display: inline-block; min-width: 300px; padding: 14px 40px; font-size: 18px; font-weight: 600; text-decoration: none; color: var(--color-main); background-color: var(--color-main); border: 3px solid var(--color-main); border-radius: 100px; overflow: hidden; position: relative; transition: all .1s ease-in-out; }
#hero .hero-button::before { content: ' '; position: absolute; top: calc(50% - 200px); left: calc(50% - 200px); width: 400px; height: 400px; background-color: white; border-radius: 50%; transform: scale(1); z-index: 1; transition: all .35s ease-in-out; }
#hero .hero-button span { position: relative; z-index: 2; }
#hero .hero-button:hover { color: white; transition: all .15s ease-in-out; }
#hero .hero-button:hover::before { transform: scale(0); transition: all .5s ease-in-out; }
#hero .hero-button:focus { outline: none; box-shadow: 0 0 0 3px white, 0 0 0 7px var(--color-focus) }

#pricing {  padding: 120px 0; text-align: center; color: white; background-color: var(--color-main); }
#pricing .plans-container { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 10px; }
#pricing .plans-container .plan { display: flex; flex-direction: column; justify-content: space-between; padding: 15px; text-align: center; color: #000; background-color: white; border-radius: 8px; }
#pricing .plans-container .plan .header { margin-top: 30px; }
#pricing .plans-container .plan .header .title { font-size: 1.25em; line-height: 1.5; font-weight: 400; }
#pricing .plans-container .plan .header .price { display: flex; justify-content: center; align-items: baseline; margin: 5px auto; font-family: var(--font-heading); font-size: 28px; line-height: 1; }
#pricing .plans-container .plan .header .price sup { font-size: .65em; position: relative; top: -.35em; }
#pricing .plans-container .plan .header .per-month { font-size: 12px; color: #999; }
#pricing .plans-container .plan hr { display: block; width: 60%; height: 1px; margin: 20px auto; background-color: #eee; border: none; }
#pricing .plans-container .plan .description-wrapper { margin-bottom: 30px; font-size: 14px; line-height: 1.5; color: #555; }
#pricing .plans-container .plan .description-wrapper .description-line + .description-line { margin-top: 8px; }
#pricing .plans-container .plan .description-wrapper .description-line .subline { font-size: .8em; }

#pricing .plans-container .plan:first-child { color: #d8c5ff; background-color: var(--color-dark); }
#pricing .plans-container .plan:first-child .header { color: #ede4ff; }
#pricing .plans-container .plan:first-child .header .per-month { color: #bea3f3; }
#pricing .plans-container .plan:first-child hr { background-color: #bea3f3; }
#pricing .plans-container .plan:first-child .description-wrapper { color: #d8c5ff; }
#pricing .plans-container .plan:first-child .description-wrapper .subline { color: #c4b0ec; }

#pricing .plans-container .plan:nth-child(2) { color: #eae0ff; background-color: #8869ca; }
#pricing .plans-container .plan:nth-child(2) .header { color: #ffffff; }
#pricing .plans-container .plan:nth-child(2) .header .title { color: #f3eeff; }
#pricing .plans-container .plan:nth-child(2) .header .per-month { color: #bea3f3; }
#pricing .plans-container .plan:nth-child(2) hr { background-color: #ae94e4; }
#pricing .plans-container .plan:nth-child(2) .description-wrapper { color: #d8c5ff; }
#pricing .plans-container .plan:nth-child(2) .description-wrapper .subline { color: #c4b0ec; }

#pricing .clarifications { margin-top: 30px; color: rgba(255, 255, 255, .75); }


@media (max-width: 1080px) {
    #hero .tagline { font-size: 20px; }

    #pricing .plans-container { width: 600px; max-width: 100%; padding: 0 15px; margin: auto; grid-template-columns: 1fr 1fr; }
}

@media (max-width: 991px) {
    #hero { padding: 60px; }
    #hero h1 { font-size: 5rem; }
    #hero .tagline { margin-bottom: 20px; }
}

@media (max-width: 767px) {
    #hero h1 { font-size: 3.75rem; }
    #hero .tagline { font-size: 18px; white-space: normal; }
    #hero .image-preview { width: calc(100% + 120px); height: auto; margin-bottom: 15px; }
    #hero .image-preview img { height: auto; width: 100%; }
    #hero .button { min-width: 0; padding: 12px 25px; font-size: 16px; }

    #pricing .plans-container { grid-template-columns: 1fr; }
}
