#hero { display: grid; width: var(--container-width); min-height: clamp(0px, 535px, 80vh); grid-template-columns: 1fr 2fr; align-items: center; margin: auto; }
#hero h2 { margin-bottom: 30px; }
#hero p { width: 435px; max-width: 100%; margin-bottom: 30px; font-size: 1.25rem; line-height: 1.5; }
