#faq h2 { width: var(--container-width); max-width: 100%; padding: var(--container-padding); padding-bottom: 0; margin: auto; text-align: center; }
#faq a { color: var(--color-main); text-decoration: underline; }
#faq a:hover { color: #000; }
#faq .flex-container > * { padding: 20px; }
#faq .contact-cta { width: var(--container-width); max-width: 100%; padding: var(--container-padding); margin: auto; font-size: 1.15rem; text-align: center; }
